body{
    background-color: rgb(2, 13, 61);
}
table {
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    background-color: rgb(166, 245, 241);
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    font-weight: 300px;
    font-family:'TimesNewRoman', sans-serif;
}

input[type="button"] {
    border: 2px solid black;
    width: 100%;
    padding: 20px 40px;
    background-color: rgb(8, 236, 210);
    color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: bold;
    border-radius: 200px;
}

input[type="text"] {
    padding: 20px 30px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    border: 2px solid black;
}
#button{
    background-color: rgb(40, 25, 144);

}
#eq{
    background-color: rgb(2, 33, 91); 
}
.result{
    background-color: rgb(250, 249, 228);
}